# Data Science Toolbox (Part 1): 1

## 10.1 geen parameters
- Definieer een functie zonder parameters die het resultaat van 10 maal 10 'returned'
- Print de uitkomst van de functie.

In [1]:
def tentimesten():
    return 10 * 10

tentimesten()

100

## 10.2 EÃ©n parameter
- Definieer een functie die het resultaat van 10 maal een parameter 'returned'
- Print de uitkomst van de functie.

In [2]:
def tentimesn(n):
    return 10 * n

tentimesn(5)

50

## 10.3 meerdere parameters
- Definieer een functie die het resultaat van een parameter maal een andere parameter 'returned'
- Print de uitkomst van de functie.

In [3]:
def xtimesn(x, n):
    return x * n

xtimesn(5,10)

50

## 10.3 meerdere parameters & "returning" meerdere waardes

- Definieer een functie met twee parameters die twee resultaten returned in een tuple:

    1. Een parameter vermenigvuldigd met de andere parameter  
    2. De som van beide parameters  


- Print de uitkomst van de functie. Kies willekeurige waardes voor iedere parameter.

In [6]:
def plussum(x, y):
    return x * y, x + y

plussum(3, 5)

(15, 8)

## 10.4 Tuples

De functie uit de vorige opgave 'returns' waardes in een tuple.

- Pak de tuple uit in 2 verschillende variabelen.
- Print beide variabelen.

In [9]:
first, second = list((15,8))
print(first, second)

15 8

### 10.5 Inspecteren van data
- Voer de onderstaande cel uit om de "uncleaned" gegevens over winkelverkopen te importeren in het dataframe storedata.
- De omzet van de winkel staat in de "Turnover" kolom

In [24]:
#Importing uncleaned storedata into storedata
import pandas as pd
import numpy as np
storedata = pd.read_csv('storedata1.csv', encoding = "ISO-8859-1",sep=",",index_col=2)
storedata.rename(columns={'Profit': 'Turnover'}, inplace=True)
storedata.head()

,Town,Country,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,40min population,30 min population,20 min population,10 min population,Store age,Clearance space,Competition number,Competition score,Turnover,Performance
Store ID,,,,,,,,,,,,,,,,,,,
1437,Swinton (Greater Manchester),UK,Roger,9,18526,121,Yes,10,Retail Park,1288374,1138224,1006986,1002340,3,238,16,16,3410865,Good
1544,Stamford,UK,Ella,8,18569,121,Yes,11,Shopping Centre,1086225,1015321,1012182,1008436,4,384,15,19,4034051,Excellent
2039,Skipton,UK,Valentina,-2,12288,105,No,12,Retail Park,1595638,1281661,1104490,1011395,11,219,13,18,2297810,Poor
2055,Stratton,UK,Antonia,7,17092,117,No,14,High Street,1179395,1022959,1009496,1002169,5,261,15,12,2398990,Poor
2141,Shepperton,UK,Gabriel,7,11307,103,No,18,Retail Park,1398558,1085170,1003137,1002513,7,200,19,13,2288235,Poor

- Maak met behulp van een 'for loop' een dictionary die het aantal unieke waardes telt in de 'Staff' (= aantal medewerkers) kolom.

Het verwachte resultaat is: {9: 28, 8: 18, -2: 1, 7: 29, 5: 29, 6: 29, 300: 1, 600: 1}.  
Uit deze dictionary kun je aflezen dat er 28 winkels zijn die 9 medewerkers hebben.

In [25]:
my_dict={} 

for i in storedata.Staff:
    if i in my_dict.keys():
        my_dict[i] += 1
    else:
        my_dict[i] = 1
             
print(my_dict)

{9: 28, 8: 18, -2: 1, 7: 29, 5: 29, 6: 29, 300: 1, 600: 1}

- Definieer een functie waarmee je bovenstaande dictionary kunt maken voor alle kolommen in een dataframe.
- Pas de functie toe op de "Staff" kolom en de "Car park" kolom om te testen of je functie goed werkt.
- Welke problemen / vreemde waardes zie je in deze kolommen?

In [26]:
def makedict(col):
    my_dict={} 

    for i in storedata[col]:
        if i in my_dict.keys():
            my_dict[i] += 1
        else:
            my_dict[i] = 1
             
    return my_dict

makedict("Car park")

# Y en N kan beter veranderd worden naar Yes en No

{'Yes': 94, 'No': 35, 'Y': 4, 'N': 3}

## 10.6 Corrigeren van de data
In een eerdere les heb je geleerd hoe je kunt 'loopen' over een dataframe.

- Maak gebruik van een loop om de waardes in de 'Staff' kolom aan te passen:
    - Alle negatieve waardes worden positief gemaakt
    - Alle getallen die groter dan of gelijk aan 100 zijn worden gedeeld door 100
- Voer je functie nogmaals uit om te controleren of de kolom juist is aangepast.

In [27]:
for i in storedata["Staff"]:
    if i < 0:
        storedata["Staff"].replace(i, i*-1, inplace=True)
    elif i >= 100:
        storedata["Staff"].replace(i, i / 100, inplace=True)
    
makedict("Staff")

{9: 28, 8: 18, 2: 1, 7: 29, 5: 29, 6: 30, 3: 1}

- Maak gebruik van een loop om de waardes in de 'Car park' kolom aan te passen:
    - 'Y' wordt 'Yes'
    - 'N' wordt 'No'
- Voer je functie nogmaals uit om te controleren of de kolom juist is aangepast.

In [28]:
for i in storedata["Car park"]:
    if i == "Y":
        storedata["Car park"].replace(i, "Yes", inplace=True)
    elif i == "N":
        storedata["Car park"].replace(i, "No", inplace=True)
        
makedict("Car park")

{'Yes': 98, 'No': 38}

In [29]:
storedata['Stafftest'] = [abs(v) for v in storedata["Staff"]]

In [30]:
storedata.head()

,Town,Country,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,40min population,30 min population,20 min population,10 min population,Store age,Clearance space,Competition number,Competition score,Turnover,Performance,Stafftest
Store ID,,,,,,,,,,,,,,,,,,,,
1437,Swinton (Greater Manchester),UK,Roger,9,18526,121,Yes,10,Retail Park,1288374,1138224,1006986,1002340,3,238,16,16,3410865,Good,9
1544,Stamford,UK,Ella,8,18569,121,Yes,11,Shopping Centre,1086225,1015321,1012182,1008436,4,384,15,19,4034051,Excellent,8
2039,Skipton,UK,Valentina,2,12288,105,No,12,Retail Park,1595638,1281661,1104490,1011395,11,219,13,18,2297810,Poor,2
2055,Stratton,UK,Antonia,7,17092,117,No,14,High Street,1179395,1022959,1009496,1002169,5,261,15,12,2398990,Poor,7
2141,Shepperton,UK,Gabriel,7,11307,103,No,18,Retail Park,1398558,1085170,1003137,1002513,7,200,19,13,2288235,Poor,7